[user]
    name = Leo Hui
    email = leohxj@gmail.com
[credential]
    helper = osxkeychain
[alias]
    st = status
	ci = commit
	co = checkout
	br = branch
	mm = merge --no-ff
	last = "log -1 HEAD"
	ll = "log --pretty=oneline --graph"
	unstage = "reset HEAD --"
    gi = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[commit]
	template = /Users/leohxj/.stCommitMsg
[core]
	excludesfile = /Users/leohxj/.gitignore_global
[difftool]
    prompt = false
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = sourcetree
[mergetool]
	prompt = false
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[merge]
	tool = sourcetree

# for github gitconfig
[includeIf "gitdir:~/workspace/github/"]
    path = ~/workspace/github/.gitconfig
