[user]
    name = Leo Hui
    email = leohxj@gmail.com
[credential]
    helper = osxkeychain
[alias]
    st = status
	ci = commit
	co = checkout
	br = branch
	mm = merge --no-ff
	last = "log -1 HEAD"
	ll = "log --pretty=oneline --graph"
	unstage = "reset HEAD --"
    gi = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
[commit]
	template = /Users/ali/.stCommitMsg
