proxy=http://10.19.110.55:8080
https_proxy=https://10.19.110.55:8080
loglevel=http
registry=https://registry.npm.taobao.org

# some mirror
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs
operadriver_cdnurl=http://npm.taobao.org/mirrors/operadriver
sass_binary_site=http://npm.taobao.org/mirrors/node-sass
electron_mirror=http://npm.taobao.org/mirrors/electron/

# mirror error, using `proxifier` proxy `node.exe`
# chromedriver_cdnurl=http://npm.taobao.org/mirrors/chromedriver